@keyframes colorPulse {
  0% { fill: white; }
  50% { fill: orange; }
  100% { fill: red; }
}


@keyframes colorPulse-dark {
  0% { fill: blue; }
  50% { fill: red; }
  100% { fill: orange; }
}


@keyframes inProgress {
  0% { color: rgba(255, 255, 255, 0.3); }
  100% { color: rgba(255, 255, 255, 0.7); }
}


@keyframes opacityPreloader {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0.1;
  }
}
