$break-mobile: 320px;
$break-tablet: 700px;
$break-desktop: 1020px;

$offset-mobile: 20px;
$offset-tablet: 40px;
$offset-desktop: 40px;

$mobile: "only screen and (max-width: "$break-tablet - 1")";
$mobile-tablet: "only screen and (max-width: "$break-desktop - 1")";
$tablet: "only screen and (min-width: "$break-tablet") and (max-width: "$break-desktop - 1")";
$tablet-desktop: "only screen and (min-width: "$break-tablet")";
$desktop: "only screen and (min-width: "$break-desktop")";

$retina2x: "(min-resolution: 1.5dppx)";


$fz_base: 18px;
$fz_xxsmall: ceil($fz_base * 0.66);   /* 12px */
$fz_xsmall: ceil($fz_base * 0.77);    /* 14px */
$fz_small: ceil($fz_base * 0.88);     /* 16px */
$fz_medium: ceil($fz_base * 1.11);    /* 20px */
$fz_medium-btn: ceil($fz_base * 1.16);/* 21px */
$fz_xmedium: ceil($fz_base * 1.33);   /* 24px */
$fz_large: ceil($fz_base * 1.66);     /* 30px */
$fz_xlarge: ceil($fz_base * 2.22);    /* 40px */
$fz_xxlarge: ceil($fz_base * 2.77);   /* 50px */


$bg_gray: #f2f2f2;
$bg_gray-light: #e5e5e5;
$bg_gray-darker: #dddfe0;
$bg_pink: #d22856;
$bg_blue: #283645;
$bg_dark: #1d2631;
$bg_green: #2aab6d;
$bg_green-darker: #1c9b5e;
$bg_blue-opacity-light: rgba(40, 54, 69, 0.1);
$bg_blue-opacity: rgba(40, 54, 69, 0.3);
$bg_blue-opacity-darker: rgba(40, 54, 69, 0.5);
$bg_blue-opacity-dark: rgba(40, 54, 69, 0.6);
$bg_pink-opacity: rgba(210, 40, 86, 0.3);
$bg_white-opacity: rgba(255, 255, 255, 0.3);
$bg_black-opacity: rgba(0, 0, 0, 0.3);
$bg_black-opacity-light: rgba(0, 0, 0, 0.1);
$bg_black-opacity-dark: rgba(0, 0, 0, 0.5);


$c_pink: $bg_pink;
$c_blue: $bg_blue;
$c_white-opacity: rgba(255, 255, 255, 0.3);
$c_black-opacity: rgba(0, 0, 0, 0.3);
$c_black-opacity-light: rgba(0, 0, 0, 0.1);
$c_blue-opacity: rgba(40, 54, 69, 0.3);
$c_pink-opacity: rgba(210, 40, 86, 0.3);

$h_header-mobile: 66px;
$h_header-tablet: 110px;
$h_header-desktop: 110px;

$gutter_nav: 80px;

$w_photo-mobile: 280px;
$w_photo-tablet: 300px;
$w_photo-desktop: 300px;

$bd_form: 2px solid $bg_gray-light;
$bdrs_form: 2px;

$bxsh_popup: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
