extends ../_layouts/base

block variables
  - var isHideMobileFooter = true
  - var isIndex = true
  - var selected = "index.html"
  - var isMap = true
block content

  +b.heading--index
    +e.wrap--index
      +e.H2.title--index Взгляните на&nbsp;жизнь иначе!
    +downloads

  .box
    .container
      +info-title

  .box.box--gray
    .container
      +advantages

  .box.box--gray-desktop
    .container
      +feature

  .box
    .container
      +reviews

  .box.box--gray
    +tariffs

  .box
    .container
      +contacts
    +map
