extends ../_layouts/base

block variables
   - var selected = "photo.html"

block content

  +b.heading
    +e.wrap
      +e.H2.title Фотографии пользователей
  .box
    .container
      +description("Взгляните на&nbsp;фотографии, которые выкладывают пользователи! Видите, как не&nbsp;хватает ваших?")

    +photos

    .container
      +description("Затмите их&nbsp;всех! Выкладывайте все, что накопилось в&nbsp;телефоне!")

  .box.box--gray.box--no-desktop
    .container
      +b.FORM.form(
        action="/echo",
        method="post"
      )
        +add-photo
