extends ../_layouts/base

block variables
   - var selected = "photo.html"

block content

  +b.heading
    +e.wrap
      +e.H2.title Фотографии пользователей
  .box
    .container
      +description("Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?")

    +photos

    .container
      +description("Затмите их всех! Выкладывайте все, что накопилось в телефоне!")

  .box.box--gray.box--no-desktop
    .container
      +b.FORM.form(
        action="/echo",
        method="post"
      )
        +add-photo
