.add-photo {


  &__image {
    width: 100%;
    height: auto;
  }
}


// @media #{$mobile} {}


@media #{$tablet} {
  .add-photo {
    display: flex;
    flex-direction: row;


    &__wrap-image {
      width: 50%;
      text-align: center;
    }


    &__image {
      width: 300px;
    }


    &__wrap-tools {
      width: 50%;
      padding-left: 45px;
    }
  }
}


@media #{$desktop} {
  .add-photo {
    display: flex;
    flex-direction: row;
    padding-top: 58px;
    padding-bottom: 58px;
    background-color: $bg_gray;


    &__wrap-image {
      width: 50%;
      padding-left: 80px;
      padding-right: 90px;
      outline: 1px solid red;
    }


    &__image {
      width: 300px;
      outline: 1px solid green;
    }

    &__wrap-tools {
      width: 50%;
      padding-left: 45px;
      outline: 1px solid orange;
    }
  }
}
