.advantages {
  padding-top: 77px;


  &__item {
    text-align: center;
    margin-bottom: 30px;
  }


  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    font-size: $fz_base;
    font-weight: 700;
    line-height: (24 / 18);
  }


  &__text {
    padding: 0;
    margin: 0;
    font-size: $fz_small;
    line-height: (24 / 14);
    color: $c_blue;
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }
}


@media #{$mobile} {
  .advantages {
    padding-bottom: 300px;
    background-image: url("../img/iphone-screen-mobile.png");
    background-repeat: no-repeat;
    background-size: 158px auto;
    background-position: left 50% bottom -40px;


    @media #{$retina2x} {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}


@media #{$tablet} {
  .advantages {
    min-height: 483px;
    padding-left: 50%;
    padding-top: 75px;
    background-image: url("../img/iphone-screen-tablet-3@1x.png");
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
    background-size: 268px auto;


    @media #{$retina2x} {
      background-image: url("../img/iphone-screen-tablet-3@2x.png");
    }


    &__item {
      text-align: left;
    }
  }
}

@media #{$desktop} {
  .advantages {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    outline: 1px solid red;


    &__item {
      position: relative;
      margin-bottom: 23px;
      padding-top: 359px;
      max-width: 250px;
    }


    &__item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      min-width: 190px;
      height: 302px;
      background-image: url("../img/iphone-screen-desktop-1@1x.png");
      background-repeat: no-repeat;
      background-position: left 50% top 0;
      background-size: auto 302px;


      @media #{$retina2x} {
        background-image: url("../img/iphone-screen-desktop-1@2x.png");
      }
    }


    &__item:nth-child(2)::after {
      background-image: url("../img/iphone-screen-desktop-2@1x.png");


      @media #{$retina2x} {
        background-image: url("../img/iphone-screen-desktop-2@2x.png");
      }
    }


    &__item:nth-child(3)::after {
      background-image: url("../img/iphone-screen-desktop-3@1x.png");


      @media #{$retina2x} {
        background-image: url("../img/iphone-screen-desktop-3@2x.png");
      }
    }


    &__title {
      margin-top: 0;
      font-size: $fz_large;
      line-height: (30 / 30);
    }


    &__text {
      font-size: $fz_base;
      line-height: (30 / 18);
    }
  }
}
