.box {
  position: relative;
  background-color: #fff;


  &--gray {
    background-color: $bg_gray;
    background-image: url("../img/bg/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% 25px;
    background-position: left 50% top 0;
  }


  &--triangle::after {
    content: "";
    position: absolute;
    z-index: 10;
    min-height: 33px;
    width: 100%;
    background-image: url("../img/bg/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100% 33px;
    background-position: left 50% bottom 0;
  }
}


@media #{$tablet} {
  .box {


    &--gray {
      background-size: 100% 55px;
    }


    &--triangle::after {
      min-height: 73px;
      background-size: 100% 73px;
    }
  }
}


@media #{$desktop} {
  .box {


    &--gray {
      background-size: 100% 91px;
    }


    &--triangle::after {
      min-height: 103px;
      background-size: 100% 103px;
    }


    &--gray-desktop {
      background-color: $bg_gray;
    }


    &--no-desktop {
      background-color: transparent;
    }
  }
}
