.feature {
  position: relative;
  outline: 1px solid red;
  padding-top: 60px;
  background-image: url("../img/bg/bg-timer.svg");
  background-repeat: no-repeat;
  background-position: center;


  &__svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    fill: #dedede;
    width: 240px;
    height: 277px;
    outline: 1px solid red;
  }


  &__title {
    margin-top: 0;
  }
}


@media #{$mobile} {
  .feature {
    display: none;
  }
}


@media #{$tablet} {
  .feature {
    min-height: 394px;
    padding-left: 50%;
  }
}


@media #{$desktop} {
  .feature {
    min-height: 430px;
    padding-left: 370px;


    &__svg {
      width: 300px;
      height: 345px;
    }
  }
}
