.info-title {
  min-height: 220px;
  padding-top: 45px;
  text-align: center;


  &__title {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: (29 / 24);
  }

  &__part {
    display: block;
    margin: 0 auto;
  }
}


@media #{$mobile} {
  .info-title {


    &__part {
      padding-left: 35px;
      padding-right: 35px;
    }


    &__part:first-child {
      margin-bottom: 35px;
    }
  }
}


@media #{$tablet} {
  .info-title {
    min-height: 240px;
    padding-top: 55px;


    &__title {
      font-size: 40px;
      line-height: (48 / 40);
    }


    &__part {
      width: 600px;
    }


    &__part:nth-child(2) {
      max-width: 350px;
    }
  }
}


@media #{$desktop} {
  .info-title {
    min-height: 324px;
    padding-top: 75px;


    &__title {
      font-size: 50px;
      line-height: (60 / 50);
    }


    &__part {
      max-width: 800px;
    }


    &__part:nth-child(2) {
      width: 450px;
    }
  }
}
