.logo {
  position: relative;
  color: #fff;
  width: 150px;
  margin-top: 21px;


  &__svg {
    width: 146.3px;
    height: 40.375px;
  }


  &__link--active {
    cursor: pointer;
  }


  &__letter--tablet-desktop,
  &__glasses,
  &__star {
    display: none;
  }


  &__link--footer  &__letter--mobile {
    display: none;
  }


  &__link--footer  &__letter--tablet-desktop,
  &__link--footer  &__glasses--tablet {
    display: block;
  }


  &__link--footer  &__glasses {
    fill: $bg_pink;
  }


  &__link--footer  &__letter {
    fill: #000;
  }


  &__link--active:hover  &__glasses,
  &__link--active:hover  &__letter {
    fill: $bg_pink;
  }


  &__link--active:active  &__glasses,
  &__link--active:active  &__letter {
    fill: $bg_white-opacity;
  }


  &__link--footer.logo__link--active:active  &__letter {
    fill: $bg_black-opacity;
  }


  &__link--footer.logo__link--active:active  &__glasses {
    fill: $bg_pink-opacity;
  }


  &__text,
  &__link {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
  }
}


@media #{$mobile} {
  .logo--header {
    width: 76px;
    overflow: hidden;
    height: 23px;
  }
}


@media #{$tablet} {
  .logo {
    margin-top: 27px;


    &__letter--mobile {
      display: none;
    }


    &__letter--tablet-desktop {
      display: block;
    }


    &__glasses--tablet {
      display: block;
    }
  }
}


@media #{$desktop} {
  .logo {
    margin-top: 27px;


    &__letter--mobile {
      display: none;
    }


    &__letter--tablet-desktop {
      display: block;
    }

    &__link--footer &__glasses--tablet,
    &__glasses--tablet {
      display: none;
    }


    &__glasses--desktop {
      display: block;
    }


    &__star {
      display: block;
    }


    &__link--footer  &__star--footer {
      fill: #000;
    }
  }
}
