.logo {
  position: relative;
  // outline: 1px solid red;
  color: #fff;
  width: 150px;
  margin-top: 21px;


  &__logo-svg {
    display: none;
  }


  &__text,
  &__link {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
  }
}


@media #{$mobile} {
  .logo {
    &__logo-svg--mobile {
      display: block;
    }
  }
}


@media #{$tablet} {
  .logo {
    margin-top: 27px;


    &__logo-svg--tablet {
      display: block;
    }
  }
}


@media #{$desktop} {
  .logo {
    margin-top: 27px;

    &__logo-svg--desktop {
      display: block;
    }
  }
}
