.photo {
  outline: 1px solid red;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 100%;


  &--normal {
    background-color: $bg_gray;
  }


  &__inner--best {
    @include container;
    background-color: $bg_gray;
    background-clip: content-box;
  }


  &__img {
    width: 100%;
    height: auto;
  }


  &__img--best {
    width: 100%;
    height: auto;
  }
}


// @media #{$mobile} {}


@media #{$tablet} {
  .photo {
    &--normal {
      max-width: 300px;
      margin: 0 auto;
    }

    &__inner--normal {
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}


@media #{$desktop} {
  .photo {
    &__inner--normal {
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}
