mixin add-photo
  +b.add-photo
    +e.IMG.image(
      src = "http://placehold.it/280x380",
      alt = "edit pictures"
    )


    +e.tools
      +e.LABEL.label(for = "tool-1") Crop
        +e.SVG.tool-svg.svg-crop
          use(xlink:href = "img/svg-sprite.svg#crop")
      +e.INPUT.tool--crop(
        type = "radio",
        name = "tool",
        id = "tool-1",
        checked
      )
      +e.scale--1
        +e.toggle


      +e.LABEL.label(for = "tool-2") Fill
        +e.SVG.tool-svg.svg-fill
          use(xlink:href = "img/svg-sprite.svg#fill")
      +e.INPUT.tool--fill(
        type = "radio",
        name = "tool",
        id = "tool-2"
      )
      +e.scale--2
        +e.toggle


      +e.LABEL.label(for = "tool-3") Grayscale
        +e.SVG.tool-svg.svg--grayscale
          use(xlink:href = "img/svg-sprite.svg#-grayscale")
      +e.INPUT.tool---grayscale(
        type = "radio",
        name = "tool",
        id = "tool-3"
      )
      +e.scale--3
        +e.toggle

    +e.HR.line

    +e.btn
      +b.BUTTON.btn--submit(type = "submit") Запостить
    +e.btn
      +b.BUTTON.btn--reset(type = "reset") Отмена
