mixin downloads
  +b.downloads
    +b.A.btn--download(href="#") Скачать приложение

    +e.A.link(href="#" title="itunes") itunes
      +e.IMG.link-img(src="http://placehold.it/50x50" alt="itunes")

    +e.A.link(href="#" title="android") android
      +e.IMG.link-img(src="http://placehold.it/50x50" alt="android")

    +e.A.link(href="#" title="windows") windows
      +e.IMG.link-img(src="http://placehold.it/50x50" alt="windows")

    +e.P.text Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
