mixin feature
  +b.feature
    +e.H3.title Эффект на&nbsp;24&nbsp;часа!
    +e.P.text.
      Британские ученые провели исследования и&nbsp;доказали,
      что положительный эффект от&nbsp;использования приложения длится целые сутки!
    +e.A.link(href="#") Узнать больше об&nbsp;исследовании
