mixin logo(isImage)

  - var href = isIndex ? false : "index.html"
  - var className = isIndex ? "text" : "link"

  +b.logo

    a(href=href, class="logo__" + className)

      if (isImage)
        +e.SVG.logo-svg.svg-logo-pink-white-mobile
          use(xlink:href="img/svg-sprite.svg#logo-pink-white-mobile")

      | Pink
