mixin navigation
  +b.NAV.navigation(id = "nav")
    +e.UL.list
      each item in site.data.menu
        +e.LI.item
          //- проверяем совпадает ли ссылка с текущей страницей
          if selected == item.link
            //- если совпадает то ссылку не добавляем
            +e.A.link= item.name

          else
            //- если не совпадает то ссылку добавляем
            +e.A.link(href=item.link)= item.name
