mixin photo(item)

  if item.best
    +b.ARTICLE.photo--best
      +e.A.photo-link(
        href = item.link,
        title = item.imgAlt
      )
        +e.SPAN.best= item.imgAlt
        +e.IMG.img--best(
          src = item.img,
          alt = item.imgAlt
        )
      +e.inner--best
        header
          +e.CITE.name= item.name
          time= "(" + item.time + ")"

        +e.P.comment!= item.comment

        footer
          +e.A.like-link(href="#" title="Like") Like
            +e.SVG.like-svg.svg-icon-heart
              use(xlink:href="img/svg-sprite.svg#icon-heart")
          +e.SPAN.like= "Нравится: " + item.like


  else
    +b.ARTICLE.photo--normal
      +e.A.photo-link(
        href = item.link,
        title = item.imgAlt
      )
        +e.IMG.img(
          src = item.img,
          alt = item.imgAlt
        )

      +e.inner--normal
        header
          +e.CITE.name= item.name
          time= "(" + item.time + ")"

        +e.P.comment= item.comment

        footer
          +e.A.like-link(href="#" title="Like") Like
            +e.SVG.like-svg.svg-icon-heart
              use(xlink:href="img/svg-sprite.svg#icon-heart")
          +e.SPAN.like= "Нравится: " + item.like
