mixin photo(item)
  +b.ARTICLE.photo

    if item.best
      +e.A.photo-link(
        href = item.link,
        title = item.imgAlt
      )
        +e.SPAN.best= item.imgAlt
        +e.IMG.photo(
          src = item.img,
          alt = item.imgAlt
        )
    else
      +e.A.photo-link(
        href = item.link,
        title = item.imgAlt
      )
        +e.IMG.photo(
          src = item.img,
          alt = item.imgAlt
        )

    header
      +e.CITE.name= item.name
      time= "(" + item.time + ")"

    +e.P.comment= item.comment

    footer
      +e.A.like-link(href="#" title="Like")
        +e.SVG.like-svg.svg-like
          use(xlink:href="img/svg-sprite.svg#like")
      +e.SPAN.like= "Нравится: " + item.like
