mixin popup-fail
  +b.popup-fail
    .container
      +e.H3.title Что-то пошло не так!

      +e.P.text Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить

      +b.BUTTON.btn--form(type = "button") Ок


