mixin popup-success
  +b.popup-success
    .container
      +e.H3.title Ваша заявка отправлена

      +e.P.text Спасибо за&nbsp;ваше участие, ваша заявка уже поступила к&nbsp;нам. В&nbsp;ближайшее время мы&nbsp;рассмотрим ее&nbsp;и&nbsp;оповестим вас.

      +b.BUTTON.btn--form(type = "button") Закрыть окно
