mixin popup-success
  +b.popup-success
    .container
      +e.H3.title Ваша заявка отправлена

      +e.P.text Спасибо за ваше участие, ваша заявка уже поступила к нам. В ближайшее время мы рассмотрим ее и оповестим вас.

      +b.BUTTON.btn--form(type = "button") Закрыть окно
