.add-photo {
  padding-top: 20px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;


  &__image-wrap {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 42px;
  }


  &__image {
    display: block;
    width: 100%;
    height: auto;
  }


  &__tools {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 120px;
    padding-bottom: 50px;
    margin-bottom: 38px;
  }


  &__label {
    @include text-hide;
    margin-right: 35px;
    cursor: pointer;
  }


  &__label:last-of-type {
    margin-right: 0;
  }


  &__input {
    display: none;
  }


  &__svg-wrap {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
  }


  &__tool-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $bg_blue-opacity;
    transition: all 0.3s;
  }


  &__scale {
    display: none;
    position: absolute;
    bottom: 35px;
    right: 50%;
    transform: translateX(50%);
    height: 2px;
    width: 240px;
    background-color: $bg_blue;
    cursor: default;
  }


  &__toggle {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 2px solid $bg_pink;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }

  &__scale--1  &__toggle {
    left: 80%;
  }


  &__scale--2  &__toggle {
    left: 13%;
  }


  &__scale--3  &__toggle {
    left: 48%;
  }


  &__toggle--active,
  &__toggle:active {
    background-color: $bg_pink;
  }


  &__btns-wrap {
    text-align: center;
  }


  &__btn {
    width: $break-mobile - ($offset-mobile * 2);
    margin: 0 auto;
  }
}


@media #{$mobile} {
  .add-photo {


    &__label:hover  &__tool-svg {
      fill: $bg_blue-opacity-darker;
    }


    &__label:active  &__tool-svg {
      fill: $bg_pink;
    }


    &__tools::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: - $offset-mobile;
      right: - $offset-mobile;
      height: 1px;
      width: auto;
      background-color: $bg_gray-darker;
    }


    &__btns-wrap {
      width: 280px;
      margin: 0 auto;
      text-align: center;
    }


    &__btn {
      margin-bottom: 12px;
    }
  }
}


@media #{$tablet-desktop} {
  .add-photo {


    &__wrap-tools {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      padding-left: 25px;
    }


    &__tools {
      flex-direction: column;
      align-items: stretch;
      margin: 0;
      padding-bottom: 20px;
      margin-top: -19px;
    }


    &__label {
      position: relative;
      height: 73px;
      width: 100%;
      padding-left: 3px;
      cursor: default;
    }


    &__label:last-child {
      height: 70px;
    }


    &__label::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 1px;
      width: 100%;
      background-color: $bg_gray-darker;
    }


    &__scale {
      right: 18px;
      bottom: 33px;
      transform: translateX(0);
      display: block;
      width: 202px;
    }


    &__scale--1  &__toggle {
      left: 72%;
    }


    &__svg-wrap {
      position: absolute;
      bottom: 35px;
      left: 0;
      transform: translateY(50%);
    }


    &__tool-svg {
      position: absolute;
      left: 3px;
      transform: translate(0, -50%);
      fill: $bg_pink;
    }


    &__tool-svg--crop {
      left: 2px;
    }


    &__tool-svg--contrast {
      left: 8px;
      margin-top: 1px;
    }
  }
}


@media #{$tablet} {
  .add-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 57px;
    padding-bottom: 54px;


    &__image-wrap {
      max-width: 300px;
      margin: 0;
      margin-right: 20px;
    }


    &__image {
      width: 100%;
      height: auto;
    }


    &__svg-wrap {
      width: 28px;
      width: 100%;
      height: 28px;
      height: 100%;
    }


    &__tool-svg--crop {
      width: 24px;
      height: 24px;
    }


    &__tool-svg--fill {
      width: 24px;
      height: 24px;
      margin-top: 3px;
    }


    &__tool-svg--contrast {
      width: 16px;
      height: 16px;
    }


    &__btn {
      width: 260px;
      margin-right: 13px;
      margin-bottom: 24px;
    }


    &__btn:last-child {
      margin-bottom: 0;
    }
  }
}


@media #{$desktop} {
  .add-photo {
    display: flex;
    flex-direction: row;
    padding-top: 57px;
    padding-bottom: 57px;
    margin-bottom: 28px;
    background-color: $bg_gray;


    &__image-wrap {
      max-width: 300px;
      margin: 0;
      margin-left: 80px;
      margin-right: 90px;
    }


    &__image {
      width: 300px;
      height: auto;
    }


    &__wrap-tools {
      padding-left: 0;
      width: 410px;
    }


    &__tools {
      margin-top: -19px;
    }


    &__tool-svg {
      position: absolute;
      left: 0;
      transform: translate(0, -50%);
      fill: $bg_pink;
    }


    &__tool-svg--crop {
      left: -2px;
      margin-top: 2px;
    }


    &__tool-svg--fill {
      margin-top: 3px;
    }


    &__tool-svg--contrast {
      left: 6px;
      margin-top: 1px;
    }


    &__scale {
      right: 30px;
      width: 288px;
    }


    &__scale--1  &__toggle {
      left: 25%;
    }


    &__scale--2  &__toggle {
      left: 86%;
    }


    &__scale--3  &__toggle {
      left: 56%;
    }


    &__btns-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }


    &__btn {
      width: 183px;
      margin: 0;
    }
  }
}
