.advantages {
  padding-top: 77px;


  &__item {
    text-align: center;
    margin-bottom: 30px;
  }


  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    font-size: $fz_base;
    font-weight: 700;
    line-height: (24 / 18);
  }


  &__text {
    padding: 0;
    margin: 0;
    font-size: $fz_xsmall;
    line-height: (24 / 14);
    color: $c_blue;
  }


  &__item:last-of-type {
    margin-bottom: 0;
  }
}


@media #{$mobile} {
  .advantages {


    &__img {
      display: none;
    }


    &__item:last-child  &__img {
      position: relative;
      bottom: -42px;
      display: block;
      margin: 0 auto;
      margin-top: -2px;
    }


    &__item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }
}


@media #{$tablet} {
  .advantages {
    position: relative;
    min-height: 486px;
    padding-left: 50%;
    padding-top: 76px;


    &__img {
      display: none;
    }


    &__title {
      margin-bottom: 12px;
    }


    &__item:last-child  &__img {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
    }


    &__item {
      text-align: left;
      margin-bottom: 35px;
    }
  }
}


@media #{$desktop} {
  .advantages {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;


    &__item {
      position: relative;
      margin-bottom: 30px;
      max-width: 292px;
    }


    &__img {
      margin-top: -2px;
      margin-bottom: 51px;
    }


    &__title {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 0;
      margin-bottom: 24px;
      font-size: $fz_large;
      line-height: (30 / 30);
    }


    &__text {
      padding-left: 25px;
      padding-right: 25px;
      font-size: $fz_base;
      line-height: (30 / 18);
    }
  }
}
