.comment {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: $c_blue;


  &__text {
    font-size: $fz_xsmall;
    line-height: (30 / 14);
  }

  &__author {
    font-size: $fz_base;
    line-height: (30 / 18);
    font-style: normal;
    font-weight: 700;
    color: #000;
  }
}


@media #{$mobile} {
  .comment {
    position: relative;
    padding-top: 29px;


    &__text::before {
      content: "«";
    }


    &__text::after {
      content: "»";
    }


    &__author {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }


    &__about-author {
      display: none;
    }
  }
}


@media #{$tablet} {
  .comment {


    &__text {
      margin-bottom: 35px;
      font-size: $fz_base;
      line-height: (30 / 18);
    }


    &__text::before {
      content: "«";
    }


    &__text::after {
      content: "»";
    }


    &__author {
      display: block;
      margin-bottom: 2px;
      font-size: $fz_medium;
      line-height: (30 / 20);
    }


    &__about-author {
      font-size: $fz_xsmall;
      line-height: (30 / 14);
    }
  }
}


@media #{$desktop} {
  .comment {


    &__text {
      margin-bottom: 36px;
      font-size: $fz_base;
      line-height: (30 / 18);
    }


    &__author {
      display: block;
      margin-bottom: 2px;
      font-size: $fz_xmedium;
      line-height: (30 / 24);
    }


    &__about-author {
      font-size: $fz_base;
      line-height: (30 / 18);
    }
  }
}
