.description {
  padding-top: 45px;
  padding-bottom: 49px;
  text-align: center;
  color: $c_blue;


  &--small {
    padding-top: 43px;
    padding-bottom: 42px;
  }


  &__title {
    margin: 0;
    font-size: $fz_xsmall;
    font-weight: 400;
    line-height: (30 / 14);
  }
}


@media #{$mobile} {
  .description {


    &__addition {
      display: none;
    }
  }
}


@media #{$tablet} {
  .description {
    padding-top: 92px;
    padding-bottom: 76px;
    padding-left: 40px;
    padding-right: 40px;


    &--small {
      padding-top: 65px;
      padding-bottom: 69px;
    }


    &__title {
      font-size: $fz_base;
      line-height: (30 / 18);
    }
  }
}


@media #{$desktop} {
  .description {
    padding-top: 92px;
    padding-bottom: 88px;
    padding-left: 80px;
    padding-right: 80px;


    &--small {
      padding-top: 59px;
      padding-bottom: 66px;
    }


    &__title {
      font-size: $fz_base;
      line-height: (30 / 18);
    }
  }
}
