.downloads {
  background-color: $bg_dark;
  color: #fff;
  text-align: center;


  &__wrap {
    min-height: 271px;
    padding-top: 28px;
  }


  &__btn {
    width: $break-mobile - ($offset-mobile * 2);
    margin: 0 auto;
    margin-bottom: 30px;
  }


  &__link-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }


  &__link {
    @include text-hide;
    display: inline-block;
    color: #fff;
    margin-right: 35px;
    margin-bottom: 24px;
  }


  &__link:last-of-type {
    margin-right: 0;
  }


  &__text {
    text-align: center;
    font-weight: 300;
    line-height: (24 / 14);
  }
}


@media #{$mobile} {
  .downloads {
    @include container;


    &__text {
      max-width: 280px;
      margin: 0 auto;
      font-size: $fz_xsmall;
    }
  }
}


@media #{$tablet} {
  .downloads {
    width: 50%;
    padding-right: 10px;


    &__wrap {
      width: 300px;
      margin: 0 auto;
    }


    &__btn {
      margin-bottom: 45px;
    }


    &__link {
      margin-bottom: 21px;
    }
  }
}


@media #{$tablet-desktop} {
  .downloads {
    background-color: transparent;

    &__wrap {
      width: 300px;
      padding-top: 30px;
    }


    &__btn {
      width: 300px;
    }


    &__text {
      font-size: $fz_base;
      line-height: (24 / 18);
    }
  }
}


@media #{$desktop} {
  .downloads {
    @include container;


    &__btn {
      margin-bottom: 65px;
    }


    &__link {
      margin-bottom: 39px;
    }
  }
}
