.feature {
  padding-top: 96px;
  background-image: url("../img/bg/timer.svg");
  background-repeat: no-repeat;
  background-size: 240px 278px;
  background-position: left 0 top 50%;


  &__title {
    margin: 0;
    line-height: (36 / 30);
    font-weight: 700;
  }


  &__text {
    margin: 0;
    padding-right: 10px;
  }


  &__link {
    @include link;
    text-decoration: underline;
  }
}


@media #{$mobile} {
  .feature {
    display: none;
  }
}


@media #{$tablet} {
  .feature {
    min-height: 394px;
    padding-left: 310px;


    &__title {
      padding-right: 120px;
      margin-bottom: 10px;
      font-size: $fz_large;
    }


    &__text {
      margin-bottom: 11px;
      font-size: $fz_xsmall;
      line-height: (24 / 14);
    }


    &__link {
      font-size: $fz_xsmall;
      line-height: (24 / 14);
    }
  }
}


@media #{$desktop} {
  .feature {
    min-height: 448px;
    padding-left: 366px;
    padding-top: 130px;
    background-size: 300px 345px;
    background-position: left 0 top 35px;



    &__title {
      margin-bottom: 24px;
      font-size: $fz_large;
      line-height: 1;
    }


    &__text {
      padding-right: 40px;
      margin-bottom: 30px;
      font-size: $fz_base;
      line-height: (30 / 18);
    }


    &__link {
      font-size: $fz_base;
      line-height: (30 / 18);
    }
  }
}
