.form-group {
  margin-bottom: 18px;


  &__label {
    display: block;
    margin-left: 23px;
    margin-bottom: 7px;
    font-size: $fz_xsmall;
    line-height: (30 / 14);
    text-transform: uppercase;
    cursor: pointer;
    color: $c_pink;
  }


  &__input {
    width: 100%;
    height: 63px;
    padding-left: 21px;
    padding-right: 21px;
    border: 2px solid $bg_gray-light;
    border-radius: 1px;
    outline: none;
    font-size: $fz_base;
    color: $c_blue;
  }


  &__input::placeholder {
    color: $c_blue;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    font-weight: 400;
    line-height: 16px;
  }


  &__input:hover {
    border-color: $bg_blue;
  }


  &__input:focus {
    border-color: $bg_pink;
  }
}
// @media #{$mobile} {}
// @media #{$tablet} {}


@media #{$tablet-desktop} {
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__label {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}


@media #{$desktop} {
  .form-group {
    margin-right: 35px;
  }
}
