.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;


  &__fieldset {
    position: relative;
    align-items: stretch;
    border: 2px solid $bg_gray-light;
  }


  &__fieldset--name {
    border: none;
  }


  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-top: 36px;
    margin-bottom: 41px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: $fz_xsmall;
    line-height: (18 / 14);
    color: $c_pink;
    font-weight: 400;
    text-transform: uppercase;
  }


  &__textarea {
    min-width: 100%;
    max-width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: $fz_base;
    line-height: (30 / 18);
    color: $c_blue;
    border: $bd_form;
    border-radius: $bdrs_form;
    outline: none;
  }


  &__textarea::placeholder {
    color: $c_blue;
  }


  &__textarea:hover,
  &__textarea:active,
  &__textarea:focuse {
    outline: none;
  }


  &__footnote {
    font-size: $fz_xsmall;
    line-height: (30 /14);
    text-transform: uppercase;
  }


  &__color {
    color: $c_pink;
  }


  &__btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}


@media #{$mobile} {
  .form {
    flex-direction: column;


    &__fieldset {
      width: 100%;
      border: none;
    }


    &__fieldset--gray {
      background-color: $bg_gray;
      margin-left: - $offset-mobile;
      margin-right: - $offset-mobile;
      padding-right: $offset-mobile;
      padding-left: $offset-mobile;
      width: auto;
    }


    &__fieldset--name {
      order: 1;
      margin-top: -10px;
    }


    &__item--name {
      margin-bottom: 21px;
    }


    &__item--name:nth-child(2) {
      margin-bottom: 24px;
    }


    &__item--name:last-child {
      margin-bottom: 43px;
    }


    &__fieldset--achievements {
      order: 2;
      padding-bottom: 6px;
    }


    &__item--achievements {
      width: 280px;
      margin: 0 auto;
      margin-bottom: 43px;
    }


    &__fieldset--contacts {
      order: 3;
      padding-top: 34px;
      padding-bottom: 33px;
    }


    &__item--contacts {
      margin-bottom: 21px;
    }


    &__fieldset--os {
      order: 4;
      padding-top: 36px;
      padding-bottom: 6px;
    }


    &__title--os {
      margin: 0;
      margin-bottom: 37px;
    }


    &__item--os {
      width: 280px;
      margin: 0 auto;
      margin-bottom: 36px;
    }


    &__fieldset--textarea {
      order: 5;
      padding-top: 21px;
      margin-bottom: 47px;
    }


    &__title--textarea {
      margin-bottom: 18px;
    }


    &__textarea {
      display: block;
      width: 100%;
      height: 201px;
      margin: 0 auto;
    }


    &__btn-wrap {
      order: 6;
      flex-direction: column;
      align-items: center;
    }


    &__btn {
      width: 280px;
      margin-bottom: 35px;
    }


    &__footnote {
      margin-bottom: 15px;
    }


    &__title--contacts {
      display: none;
    }
  }
}


@media #{$tablet} {
  .form {


    &__fieldset {
      width: 100%;
    }


    &__fieldset--achievements {
      padding-left: 58px;
      padding-right: 58px;
      padding-top: 52px;
      padding-bottom: 48px;
      margin-bottom: 65px;
    }
  }
}


@media #{$tablet-desktop} {
  .form {


    &__title {
      position: absolute;
      z-index: 10;
      top: -1px;
      left: 50%;
      display: inline-block;
      max-width: 90%;
      margin: 0;
      padding-left: 25px;
      padding-right: 25px;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      background-color: #fff;
    }


    &__fieldset--name {
      margin-top: -5px;
      margin-bottom: 65px;
    }


    &__item--name {
      margin-bottom: 52px;
    }


    &__item--name:nth-child(2) {
      margin-bottom: 53px;
    }


    &__item--name:last-child {
      margin-bottom: 0;
    }


    &__fieldset--os {
      padding-left: 58px;
      padding-top: 51px;
      padding-bottom: 18px;
      padding-right: 30px;
      margin-bottom: 65px;
    }


    &__item--os {
      margin-bottom: 36px;
    }


    &__fieldset--contacts {
      padding-top: 46px;
      padding-left: 58px;
      padding-right: 58px;
      padding-bottom: 26px;
      margin-bottom: 65px;
    }


    &__item--contacts {
      margin-bottom: 29px;
    }


    &__item--contacts:last-child {
      margin-bottom: 0;
    }


    &__item--achievements {
      margin-bottom: 43px;
    }


    &__item--achievements:last-child {
      margin-bottom: 0;
    }


    &__fieldset--textarea {
      padding-left: 58px;
      padding-right: 58px;
      padding-top: 45px;
      padding-bottom: 47px;
      margin-bottom: 67px;
    }


    &__textarea {
      width: 100%;
      height: 193px;
    }


    &__btn {
      flex-shrink: 0;
      width: 300px;
      margin-right: 50px;
    }


    &__btn-wrap {
      margin-bottom: 50px;
    }
  }
}


// @media #{$tablet} {}


@media #{$desktop} {
  .form {
    justify-content: space-between;
    padding-top: 2px;


    &__fieldset--name {
      width: 435px;
      padding-bottom: 0;
      margin-bottom: 65px;
    }


    &__fieldset--os {
      width: 435px;
      margin: 0;
      padding: 0;
      margin-top: -12px;
      margin-bottom: 65px;
      padding-top: 55px;
      padding-bottom: 16px;
      padding-left: 73px;
      padding-right: 30px;
    }


    &__item--os {
      margin-bottom: 35px;
    }


    &__fieldset--contacts {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 42px;
      padding-bottom: 8px;
    }


    &__item--contacts {
      width: 375px;
      margin-bottom: 5px;
      margin-right: 70px;
    }


    &__item--contacts:last-child {
      margin-right: 0;
    }


    &__fieldset--achievements {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;
      align-items: center;
      width: 100%;
      padding-top: 52px;
      padding-bottom: 12px;
      padding-left: 58px;
      margin-bottom: 65px;
    }


    &__item--achievements {
      width: 270px;
      margin-right: 45px;
      margin-bottom: 43px;
    }

    &__item--achievements:nth-child(3n) {
      margin-right: 35px;
    }


    &__item--achievements:nth-child(3n-2) {
      margin-right: 0;
      width: 250px;
    }


    &__item--achievements:last-child {
      margin-bottom: 43px;
    }


    &__fieldset--textarea {
      width: 100%;
      padding-top: 42px;
      padding-bottom: 39px;
      margin-bottom: 65px;
    }


    &__textarea {
      width: 100%;
      height: 128px;
    }


    &__btn-wrap {
      margin-bottom: 0;
    }
  }
}
