.form-group {


  &__label {
    display: block;
    margin-left: 22px;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: $fz_xsmall;
    line-height: (30 / 14);
    text-transform: uppercase;
    cursor: pointer;
    color: $c_pink;
  }


  &__wrap {
    width: 100%;
  }


  &__input {
    width: 100%;
    height: 63px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    border: $bd_form;
    border-radius: $bdrs_form;
    outline: none;
    font-size: $fz_base;
    line-height: (30 / 18);
    color: $c_blue;
  }


  &__input::placeholder {
    color: $c_blue;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    font-weight: 400;
  }


  &__input:hover {
    border-color: $bg_blue;
  }


  &__input:focus {
    border-color: $bg_pink;
  }
}


// @media #{$mobile} {}
// @media #{$tablet} {}


@media #{$tablet-desktop} {
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__label {
      margin-top: 7px;
      margin-left: 0;
      margin-right: 19px;
    }


    &__input {
      min-width: 300px;
    }


    &--reverse {
      flex-direction: column;
      align-items: flex-start;
    }


    &--reverse  &__input {
      order: 1;
    }


    &--reverse  &__label {
      order: 2;
      margin: 0;
      margin-left: 19px;
      margin-top: 10px;
      font-size: $fz_xsmall;
      line-height: (30 / 14);
      text-transform: uppercase;
      cursor: pointer;
      color: $c_pink;
    }


    &__wrap {
      position: relative;
    }


    &__wrap::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 17px;
      width: 30px;
      height: 30px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
    }


    &__wrap--phone::after {
      background-image: url("../img/bg/icon-phone.svg");
    }


    &__wrap--email::after {
      background-image: url("../img/bg/icon-mail.svg");
    }


    &__wrap  &__input {
      padding-right: 50px;
    }
  }
}


@media #{$desktop} {
  .form-group {


    &--reverse  &__label {
      margin: 0;
      margin-top: 10px;
      margin-left: 19px;
    }

    &--reverse  &__input {
      padding-left: 18px;
    }
  }
}
