.heading {
  position: relative;
  z-index: 1;
  background-color: $bg_blue;


  &__title {
    margin: 0 auto;
    margin-top: 23px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: (29 / 24);
    font-weight: 300;
  }
}


@media #{$mobile} {
  .heading {


    &__wrap {
      @include container;
      min-height: 237px;
      padding-top: $h_header-mobile + 9px;
      padding-bottom: 52px;
      background-image: url("../img/bg/bg-back-mobile.jpg");
      background-repeat: no-repeat;
      background-position: top 0 left 50%;
    }


    &__wrap--index {
      min-height: 458px;
      background-image: url("../img/intro/iphone-hand-mobile.png"), url("../img/bg/bg-back-mobile.jpg");
      background-repeat: no-repeat, repeat;
      background-size: auto 285px, cover;
      background-position: bottom 0 left 50%, 50% 50%;
    }


    @media #{$retina2x} {
      &__wrap {
        background-image: url("../img/bg/bg-back-mobile@2x.jpg");
      }


      &__wrap--index {
        background-image: url("../img/intro/iphone-hand-mobile@2x.png"), url("../img/bg/bg-back-mobile@2x.jpg");
      }
    }
  }
}


@media #{$tablet} {
  .heading {
    @include container;
    min-height: 330px;
    padding-top: $h_header-tablet + 48px;
    padding-bottom: 79px;
    background-image: url("../img/bg/bg-back-tablet@1x.jpg");
    background-repeat: repeat;
    background-position: top 0 left 50%;


    &--index {
      min-height: 729px;
      padding-top: $h_header-tablet + 70px;
      padding-bottom: 40px;
      background-image: url("../img/intro/iphone-hand-tablet@1x.png"), url("../img/bg/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat, repeat;
      background-size: auto 545px, cover;
      background-position: bottom 0 right 0, 50% 50%;
    }


    @media #{$retina2x} {
      background-image: url("../img/bg/bg-back-tablet@2x.jpg");


      &--index {
        background-image: url("../img/intro/iphone-hand-tablet@2x.png"), url("../img/bg/bg-back-tablet@2x.jpg");
      }
    }


    &__wrap--index {
      width: 50%;
      padding-right: 10px;
    }


    &__title {
      padding-left: 50px;
      padding-right: 50px;
      font-size: $fz_xxlarge;
      line-height: (60 / 50);
    }


    &__title--index {
      width: 300px;
      padding-left: 0;
      padding-right: 0;
      font-size: $fz_xlarge;
      line-height: (48 / 40);
    }
  }
}


@media #{$desktop} {
  .heading {
    min-height: 280px;
    padding-top: $h_header-desktop + 40px;
    padding-bottom: 101px;
    background-image: url("../img/bg/bg-back-desktop.jpg");
    background-repeat: repeat;
    background-position: top 0 left 50%;

    &--index {
      min-height: 853px;
      padding-top: $h_header-desktop + 85px;
      background-image: url("../img/bg/bg-back-desktop.jpg");
      background-repeat: repeat;
      background-size: cover;
      background-position: 50% 50%;
    }

    &--index::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 50%;
      height: 645px;
      width: 1020px;
      transform: translateX(-50%);
      background-image: url("../img/intro/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: auto 645px;
      background-position: bottom 0 right -85px;
    }


    @media #{$retina2x} {
      background-image: url("../img/bg/bg-back-desktop.jpg");


      &--index::after {
        background-image: url("../img/intro/iphone-hand-desktop@2x.png");
      }
    }


    &__wrap {
      @include container;
    }


    &__title {
      padding-left: 90px;
      padding-right: 90px;
      font-size: $fz_xxlarge;
      line-height: (60 / 50);
    }


    &__title--index {
      width: 300px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 22px;
      margin-left: 0;
    }
  }
}
