.info-title {
  padding-top: 40px;
  padding-bottom: 35px;
  text-align: center;


  &__title {
    margin: 0;
    font-weight: 300;
    font-size: $fz_xmedium;
    line-height: (30 / 24);
  }


  &__part {
    display: block;
  }
}


@media #{$mobile} {
  .info-title {


    &__part {
      padding-left: 35px;
      padding-right: 35px;
      margin-bottom: 26px;
    }


    &__part:last-child {
      margin-bottom: 0;
    }
  }
}


@media #{$tablet} {
  .info-title {
    padding-top: 49px;
    padding-bottom: 46px;


    &__title {
      font-size: $fz_xlarge;
      line-height: (48 / 40);
    }
  }
}


@media #{$desktop} {
  .info-title {
    padding-top: 67px;
    padding-bottom: 78px;


    &__title {
      font-size: $fz_xxlarge;
      line-height: (60 / 50);
    }


    &__part {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
