.logo {
  position: relative;
  color: #fff;
  width: 150px;


  &__link {
    @include text-hide;
    display: block;
  }


  &__svg {
    width: 146.3px;
    height: 40.375px;
  }


  &__link--active {
    cursor: pointer;
  }


  &__letter--tablet-desktop,
  &__glasses,
  &__star {
    display: none;
  }


  &__letter,
  &__glasses,
  &__star {
    transition: all 0.3s;
  }


  &__link--footer  &__letter--mobile {
    display: none;
  }


  &__link--footer  &__letter--tablet-desktop,
  &__link--footer  &__glasses--tablet {
    display: block;
  }


  &__link--footer  &__glasses {
    fill: $bg_pink;
  }


  &__link--footer  &__letter {
    fill: #000;
  }


  &__link--active:hover  &__glasses,
  &__link--active:hover  &__letter {
    fill: $bg_pink;
  }


  &__link--active:hover  &__star {
    animation-name: colorPulse;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }


  &__link--active.logo__link--footer:hover  &__star {
    animation-name: colorPulse-dark;
  }


  &__link--active:active  &__glasses,
  &__link--active:active  &__letter {
    fill: $bg_white-opacity;
  }


  &__link--footer.logo__link--active:active  &__letter {
    fill: $bg_black-opacity;
  }


  &__link--footer.logo__link--active:active  &__glasses {
    fill: $bg_pink-opacity;
  }
}


@media #{$mobile} {
  .logo {


    &__link--header {
      width: 76px;
      overflow: hidden;
      height: 24px;
    }
  }
}


@media #{$tablet} {
  .logo {


    &__letter--mobile {
      display: none;
    }


    &__letter--tablet-desktop {
      display: block;
    }


    &__glasses--tablet {
      display: block;
    }
  }
}


@media #{$desktop} {
  .logo {


    &__letter--mobile {
      display: none;
    }


    &__letter--tablet-desktop {
      display: block;
    }


    &__link--footer &__glasses--tablet,
    &__glasses--tablet {
      display: none;
    }


    &__glasses--desktop {
      display: block;
    }


    &__star {
      display: block;
    }


    &__link--footer  &__star--footer {
      fill: #000;
    }
  }
}
