.map {
  width: 100%;
  background-image: url("../img/bg/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg_gray;


  &__image {
    height: 200px;
  }
}


// @media #{$mobile} {}


@media #{$tablet} {
  .map {
    background-image: url("../img/bg/map-tablet-desktop.jpg");


    &__image {
      height: 379px;
    }
  }
}


@media #{$desktop} {
  .map {
    background-image: url("../img/bg/map-tablet-desktop.jpg");


    &__image {
      height: 502px;
    }
  }
}
