.photo {
  min-width: $w_photo-mobile;
  max-width: $w_photo-mobile;
  background-color: $bg_gray;
  font-size: $fz_xsmall;
  color: $c_blue;
  display: flex;
  flex-direction: column;


  &__identifier-wrap {
    @include container;
    position: relative;
  }


  &__identifier {
    position: absolute;
    right: $offset-mobile;
    top: 0;
    display: block;
    min-width: 140px;
    height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: $fz_xxsmall;
    font-weight: 700;
    line-height: (24 / 12);
    text-transform: uppercase;
    cursor: default;
    color: #fff;
    background-color: $bg_pink;
  }


  &--best {
    background-color: transparent;
    width: 100%;
    max-width: none;
  }


  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-right: 18px;
  }


  &__inner--best {
    max-width: $w_photo-mobile;
    margin: 0 auto;
    background-color: $bg_gray;
  }


  &__img {
    display: block;
    width: 100%;
    height: auto;
  }


  &__header {
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &__name {
    font-size: $fz_xsmall;
    line-height: (24 / 14);
    font-weight: 700;
    font-style: normal;
  }


  &__time {
    font-size: $fz_xxsmall;
    text-transform: uppercase;
  }


  &__comment {
    margin: 0;
    margin-bottom: 10px;
    font-size: $fz_xsmall;
    line-height: (24 / 14);
  }


  &__footer {
    position: relative;
    max-width: $w_photo-mobile;
    padding-left: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &__like-link {
    @include text-hide;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -1px;
    transform: translate(100%, -50%);
  }


  &__like-svg {
    fill: $bg_pink;
    transition: all 0.3s;
  }


  &__like-link:hover  &__like-svg {
    fill: $c_blue;
  }

  &__like-link:active  &__like-svg {
    fill: $c_blue-opacity;
  }


  &__like {
    font-size: $fz_xxsmall;
    line-height: (24/ 12);
    text-transform: uppercase;
    color: $c_pink;
    cursor: default;
  }
}


// @media #{$mobile} {}


@media #{$tablet} {
  .photo {
    max-width: $w_photo-tablet;


    &__identifier {
      top: 57px;
      right: $offset-tablet;
    }


    &--best {
      max-width: none;
      width: 100%;
    }


    &--best  &__like-link {
      right: 1px;
    }


    &__inner--best {
      max-width: $break-tablet - ($offset-tablet * 2);
    }
  }
}


@media #{$tablet-desktop} {
  .photo {
    position: relative;


    &__inner {
      min-height: 155px;
      padding-top: 24px;
      padding-bottom: 22px;
      padding-left: 27px;
      padding-right: 27px;
    }


    &__comment {
      flex-grow: 1;
    }


    &__footer {
      padding-left: 0;
      padding-right: 25px;
    }


    &__like-link {
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
    }


    &--best  &__header {
      max-width: 45%;
    }


    &--best  &__footer {
      top: 1px;
      align-self: flex-start;
      max-width: 45%;
      padding-left: 0;
      padding-right: 32px;
    }


    &__inner--best {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: auto;
      padding-bottom: 15px;
    }


    &__inner--best  &__header {
      order: 1;
      width: auto;
    }


    &__inner--best  &__footer {
      position: relative;
      order: 2;
      width: auto;
    }


    &__inner--best  &__comment {
      order: 3;
      width: 100%;
    }
  }
}


@media #{$desktop} {
  .photo {
    max-width: $w_photo-desktop;


    &__identifier {
      top: 54px;
      right: $offset-desktop;
    }


    &--best {
      display: block;
      margin: 0 auto;
      width: auto;
      max-width: 1600px;
    }


    &--best  &__footer {
      padding-right: 34px;
    }


    &__inner--best {
      max-width: $break-desktop - ($offset-desktop * 2);
      padding-bottom: 14px;
    }
  }
}
