.photos {
  margin-bottom: -20px;

  &__grid {
    @include grid;
  }


  &__item-best {
    margin-bottom: 20px;
  }


  &__item {
    @include col;
    justify-content: center;
    margin-bottom: 20px;
  }
}


// @media #{$mobile} {}


@media #{$tablet} {
  .photos {
    margin-bottom: -20px;

    &__item-best {
      margin-bottom: 50px;
    }


    &__item {
      @include col(6);
      justify-content: flex-start;
      margin-bottom: 20px;
    }


    &__item:nth-child(odd) {
      justify-content: flex-end;
    }
  }
}


@media #{$desktop} {
  .photos {
    margin-bottom: -54px;


    &__item-best {
      margin-bottom: 54px;
    }


    &__item {
      @include col(4);
      margin-bottom: 54px;
    }
  }
}
