.radio {
  margin-bottom: 36px;


  &__input {
    display: none;
  }


  &__label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-height: 39px;
    padding-left: 70px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: $fz_base;
    line-height: (30 / 18);
    cursor: pointer;
    outline: 1px solid red;
  }


  &__label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
    box-shadow: 0 0 0 2px $bg-gray-light;
    border: 10px solid #fff;
    border-radius: 50%;
    background-color: #fff;
  }
}

// @media #{$mobile} {}
// @media #{$tablet} {}
// @media #{$desktop} {}
