.reviews {
  padding-top: 41px;
  padding-bottom: 30px;

  &__input {
    display: none;
  }


  &__item {
    display: none;
  }


  &__arrow {
    display: none;
  }


  &__toggles {
    margin-top: 36px;
    text-align: center;
  }


  &__toggle {
    @include text-hide;
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    margin-right: 14px;
    border-radius: 50%;
    background-color: $bg_blue-opacity;
    cursor: pointer;
    transition: all 0.3s;
  }


  &__toggle:last-child {
    margin-right: 0;
  }


  &__toggle:hover {
    background-color: $bg_blue-opacity-dark;
  }


  &__toggle:active {
    background-color: $bg_blue-opacity-light;
  }
}


// @media #{$mobile} {}


@media #{$tablet} {
  .reviews {
    min-height: 290px;
    padding-top: 21px;
    padding-bottom: 0;

    &__toggles {
      margin-top: 37px;
    }
  }
}


@media #{$desktop} {
  .reviews {
    position: relative;
    padding-top: 167px;
    padding-bottom: 35px;
    background-image: url("../img/bg/quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 72px;


    &__toggles {
      display: block;
    }


    &__toggle::before,
    &__toggle::after {
      content: "";
      display: none;
      position: absolute;
      top: 219px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-bottom: 2px solid $bg_blue-opacity;
      border-right: 2px solid $bg_blue-opacity;
      background-color: transparent;
    }


    &__toggle:hover::before,
    &__toggle:hover::after {
      border-color: $bg_blue-opacity-dark;
    }


    &__toggle:active::before,
    &__toggle:active::after {
      border-color: $bg_blue-opacity-light;
    }


    &__toggle::before {
      left: 5px;
      transform: rotate(135deg);
    }


    &__toggle::after {
      right: 5px;
      transform: rotate(-45deg);
    }


    @for $i from 1 through $reviews {
      @if $i == 1 {
        &__input:first-of-type:checked ~ &__toggles &__toggle--#{$reviews}::before,
        &__input[id="toggle-reviews-#{$i}"]:checked ~ &__toggles &__toggle--#{$i + 1}::after {
          display: block;
        }
      }
      @else if $i == $reviews {
        &__input[id="toggle-reviews-#{$i}"]:checked ~ &__toggles &__toggle--#{$i - 1}::before,
        &__input:last-of-type:checked ~ &__toggles &__toggle--1::after {
          display: block;
        }
      }
      @else {
        &__input[id="toggle-reviews-#{$i}"]:checked ~ &__toggles &__toggle--#{$i - 1}::before,
        &__input[id="toggle-reviews-#{$i}"]:checked ~ &__toggles &__toggle--#{$i + 1}::after {
          display: block;
        }
      }
    }
  }
}
