.tariffs {
  position: relative;
  color: $c_blue;
  padding-top: 91px;
  padding-bottom: 35px;

  &__input {
    display: none;
  }


  &__table {
    table-layout: fixed;
    border-collapse: collapse;
  }


  th:first-child {
    opacity: 0;
    visibility: hidden;
  }


  th {
    position: relative;
    height: 98px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 17px;
    color: #fff;
    background-color: $bg_blue;
    border-right: 2px solid $bg_gray-light;
  }


  th:last-child {
    border-right: none;
  }


  &__hit {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -2px;
    width: 73px;
    height: 73px;
  }


  &__hit::before {
    content: "Хит";
    position: absolute;
    top: 12px;
    left: -24px;
    width: 102px;
    height: 28px;
    transform: rotate(-45deg);
    font-size: $fz_xsmall;
    line-height: (30 / 14);
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    background-color: $bg_pink;
  }


  &__title {
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $fz_base;
    line-height: (30 / 18);
    text-transform: uppercase;
    font-weight: 700;
  }


  &__price {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $fz_xmedium;
    line-height: (30 / 24);
    font-weight: 300;
  }


  td {
    position: relative;
    height: 61px;
    background-color: #fff;
    border: 2px solid $bg_gray-light;
    border-top: none;
  }


  td:first-child {
    border-top: 2px solid $bg_gray-light;
  }


  &__option {
    font-size: $fz_xsmall;
    line-height: (30 / 14);
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &__icon {
    @include text-hide;
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translate(0, -50%);
  }


  &__toggles {
    margin-top: 42px;
    text-align: center;
  }


  &__toggle {
    @include text-hide;
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    margin-right: 14px;
    border-radius: 50%;
    background-color: $bg_blue-opacity;
    cursor: pointer;
    transition: all 0.3s;
  }


  &__toggle:last-child {
    margin-right: 0;
  }


  &__toggle:hover {
    background-color: $bg_blue-opacity-dark;
  }


  &__toggle:active {
    background-color: $bg_blue-opacity-light;
  }
}


@media #{$mobile} {
  .tariffs {
    overflow: hidden;
    padding-left: $offset-mobile;
    padding-right: $offset-mobile;


    &__table {
      position: relative;
      min-width: (280px * 3);
      width: 300%;
      transition: transform 1s;
    }


    th:first-child,
    td:first-child {
      display: none;
      background-color: #000;
    }

    td {
      width: 100%;
      padding-top: 14px;
      padding-bottom: 13px;
      padding-right: 70px;
      padding-left: 22px;
    }


    td::before {
      content: attr(data-option);
      font-size: $fz_xsmall;
      line-height: (30 / 14);
      text-transform: uppercase;
    }
  }
}


@media #{$tablet-desktop} {
  .tariffs {
    @include container;
    padding-top: 91px;
    padding-bottom: 67px;


    &__table {
      width: 100%;
    }


    td {
      position: relative;
      height: 47px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: #fff;
      border: 2px solid $bg_gray-light;
      border-top: none;
    }


    &__toggles {
      display: none;
    }


    &__icon {
      @include text-hide;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }


    &__hit {
      left: 0;
    }
  }
}


@media #{$tablet} {
  .tariffs {


    th {
      position: relative;
      width: 25%;
      height: 79px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 0;
    }


    &__title {
      margin-bottom: -3px;
      font-size: $fz_small;
      line-height: (30 / 16);
    }


    &__price {
      font-size: $fz_base;
      line-height: (30 / 18);
    }


    &__hit::before {
      top: 5px;
      left: -30px;
    }
  }
}


@media #{$desktop} {
  .tariffs {
    padding-top: 154px;
    padding-bottom: 96px;


    td {
      height: 60px;
      padding-left: 21px;
      padding-right: 21px;
    }


    &__option {
      font-size: $fz_base;
      line-height: (30 / 18);
    }
  }
}
