mixin downloads
  +b.downloads
    +e.wrap
      +e.A.btn.btn--download(href="#") Скачать приложение

      +e.link-wrap
        +e.A.link(href="#" title="itunes") apple
          +e.SVG.svg--itunes.svg-logo-apple
            use(xlink:href="img/svg-sprite.svg#logo-apple")

        +e.A.link(href="#" title="android") android
          +e.SVG.svg--itunes.svg-logo-android
            use(xlink:href="img/svg-sprite.svg#logo-android")

        +e.A.link(href="#" title="windows") windows
          +e.SVG.svg--itunes.svg-logo-microsoft
            use(xlink:href="img/svg-sprite.svg#logo-microsoft")

      +e.P.text Доступно для iPhone, iPad, Android, Windows Phone, OS&nbsp;X, Windows&nbsp;8
