mixin form-group(item)
  .form__group
    label.form__label(for="form-" + item.name)= item.label
    input.form__field(
      type = item.inputType,
      name = "form-" + item.name,
      id = "form-" + item.name,
      placeholder = item.placeholder
    )
