mixin form-group(item,order)
  - var className = order=="revers" ? "--reverse" : null
  - var className2 = item.inputType=="tel" ? "--tel" : null
  - var className3 = item.inputType=="email" ? "--email" : null

  +b.form-group(class=className)
    +e.LABEL.label(for="form-" + item.name)= item.label
    +e.INPUT.input(
      class=className2,
      class=className3,
      type = item.inputType,
      name = "form-" + item.name,
      id = "form-" + item.name,
      placeholder = item.placeholder
    )
