mixin page-footer(classFooter)
  +b.FOOTER.page-footer(class = classFooter)
    .container
      +e.inner

        +e.item--logo
          //- если нужен svg в лого добавляем -> (true)
          +logo("footer")

        +e.item--social
          +social

        +e.item--copyright
          +copyright
