mixin photos
  +b.photos

    each item in site.data.photos
      if item.best
        +e.item-best
          +photo(item)
    .container
      +e.grid
        each item in site.data.photos
          if !item.best
            +e.item
              +photo(item)
