mixin popup-fail
  +b.popup-fail
    .container
      +e.H3.title Что-то пошло не&nbsp;так!

      +e.P.text Проверьте поля, выделенные красным, скорее всего вы&nbsp;забыли их&nbsp;заполнить

      +b.BUTTON.btn--form(type = "button") Ок


