mixin popup-success(item)
  - var className = item=="demo" ? "--demo" : null

  +b.popup--success(class=className)
    +e.H3.title Ваша заявка отправлена

    +e.P.text Спасибо за&nbsp;ваше участие, ваша заявка уже поступила к&nbsp;нам. В ближайшее время мы&nbsp;рассмотрим ее&nbsp;и оповестим&nbsp;вас.

    +e.btn-wrap
      +e.BUTTON.btn.btn--form(type = "button") Закрыть окно
