mixin popup-fail(item)
  - var className = item=="demo" ? "--demo" : null

  +b.popup--fail(class=className)

    +e.H3.title Что-то пошло не&nbsp;так!

    +e.P.text Проверьте поля, выделенные красным, скорее всего вы&nbsp;забыли их&nbsp;заполнить

    +e.BUTTON.btn.btn--form(type = "button") Ок


