- var index = 0

mixin radio(item)

  //- Порядковый номер увеличиваем на 1 для каждого последующего item
  - index = index + 1

  //- Проверяем checked
  - var checked = item.isChecked  ? "checked" : false
  //- Проверяем disabled
  - var disabled = item.isDisabled  ? "disabled" : false

  +b.radio
    +e.INPUT.input(
      type = item.type,
      name = item.name,
      id = item.type + "-" + item.name + "-" + index,
      value = item.type + "-" + item.name + "-" + index,
      checked = checked,
      disabled = disabled
    )
    +e.LABEL.label(for=item.type + "-" + item.name + "-" + index)= item.label

