- var index = 0

mixin radio(item)

  //- порядковый номер увеличиваем на 1 для каждого последующего item
  - index = index + 1

  //- проверяем checked
  - var checked = item.isChecked  ? true : false

  +b.radio
    +e.LABEL.label(for=item.type + "-" + item.name + "-" + index)= item.label
    +e.INPUT.input(
      type = item.type,
      name = item.name,
      id = item.type + "-" + item.name + "-" + index,
      value = item.type + "-" + item.name + "-" + index,
      checked = checked
    )

