- var reviews = site.data.reviews

mixin reviews
  +b.reviews

    each item,index in reviews

      //- проверяем checked
      - var checked = item.isChecked ? "checked" : false

      //- Добавляем inputs для переключения слайдов
      +e.INPUT.input(
        type = 'radio',
        id = 'toggle-reviews-' + (index+1),
        name = 'reviews',
        checked = checked
      )

    each item,index in reviews
      +e.item(class = "reviews__item--" + (index + 1))
        +comment(item)

    +e.A.arrow--left(href="#" title="previous") previous
      +e.SVG.arrow-svg.svg-icon-review-arrow-left
        use(xlink:href="img/svg-sprite.svg#icon-review-arrow-left")
    +e.A.arrow--right(href="#" title="next") next
      +e.SVG.arrow-svg.svg-icon-review-arrow-right
        use(xlink:href="img/svg-sprite.svg#icon-review-arrow-right")
    +e.toggles

      //- Добавляем labels переключатели
      each item,index in reviews
        +e.LABEL.toggle(
          class='reviews__toggle--' +(index+1),
          for='toggle-reviews-' + (index+1)
        )
          = 'Отзыв:' + (index+1)
