- var reviews = site.data.reviews

mixin reviews
  +b.reviews

    each item,index in reviews

      //- проверяем checked
      - var checked = item.isChecked ? "checked" : false

      //- Добавляем inputs для переключения слайдов
      +e.INPUT.input(
        type = 'radio',
        id = 'toggle-reviews-' + (index+1),
        name = 'reviews',
        checked = checked
      )

    each item,index in reviews
      +e.item(class = "reviews__item--" + (index + 1))
        +comment(item)

    +e.toggles
      //- Добавляем labels переключатели
      each item,index in reviews
        +e.LABEL.toggle(
          class='reviews__toggle--' +(index+1),
          for='toggle-reviews-' + (index+1)
        )
          = 'Отзыв:' + (index+1)
