mixin social
  +b.social
    each item in site.data.social

      +e.A.link(
        href= item.link,
        title= item.name
      )

        = item.name

        +e.SVG(
          class = "svg--" + item.name,
          class = "svg-" + item.icon
          )
          use(xlink:href="img/svg-sprite.svg#" + item.icon)

