html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: $font-family;
  font-style: normal;
  font-size: 18px;
  font-weight: $fw--regular;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}


h1 {
  font-family: $font-family;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #000;
}


h2 {
  font-family: $font-family;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #000;
}


.container {
  @include container;
}
