@mixin container {
  margin: 0 auto;
  min-width: $break-mobile;
  padding-left: $offset-mobile;
  padding-right: $offset-mobile;
  outline: 2px solid green;


  @media #{$tablet} {
    min-width: $break-tablet;
    padding-left: $offset-tablet;
    padding-right: $offset-tablet;
    outline: 2px solid orange;
  }


  @media #{$desktop} {
    width: $break-desktop;
    padding-left: $offset-desktop;
    padding-right: $offset-desktop;
    outline: 2px solid purple;
  }
}
