@mixin container {
  margin: 0 auto;
  min-width: $break-mobile;
  padding-left: $offset-mobile;
  padding-right: $offset-mobile;
  outline: 2px solid green;


  @media #{$tablet} {
    padding-left: $offset-tablet;
    padding-right: $offset-tablet;
    outline: 2px solid orange;
  }


  @media #{$desktop} {
    max-width: $break-desktop;
    padding-left: $offset-desktop;
    padding-right: $offset-desktop;
    outline: 2px solid purple;
  }
}

@mixin h1 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300;
  color: #000;
}

@mixin h2 {
  font-size: $fz_large;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
}

@mixin link {
  color: $c_pink;
  text-decoration: none;

  &:hover {
    color: $c_blue;
    text-decoration: underline;
  }
  &:active {
    color: $c_blue-opacity;
    text-decoration: none;
  }
}
