.svg-bg-hit {
	width: 74px;
	height: 73px;
}

.svg-bg-triangle-white {
	width: 1200px;
	height: 94.074px;
}

.svg-bg-triangle-white-footer {
	width: 595.28px;
	height: 61.905px;
}

.svg-htmlacademy {
	width: 60px;
	height: 60px;
}

.svg-icon-editor-contrast {
	width: 31.92px;
	height: 31.92px;
}

.svg-icon-editor-crop {
	width: 48px;
	height: 48px;
}

.svg-icon-editor-diagram-fill {
	width: 253px;
	height: 253px;
}

.svg-icon-editor-fill {
	width: 48px;
	height: 48px;
}

.svg-icon-facebook {
	width: 8.673px;
	height: 18.944px;
}

.svg-icon-heart {
	width: 12.545px;
	height: 11.99px;
}

.svg-icon-mail {
	width: 17.988px;
	height: 13.966px;
}

.svg-icon-map-marker {
	width: 35.983px;
	height: 35.983px;
}

.svg-icon-menu-burger {
	width: 49.945px;
	height: 24.007px;
}

.svg-icon-menu-cross {
	width: 23.867px;
	height: 23.867px;
}

.svg-icon-no {
	width: 26.752px;
	height: 26.752px;
}

.svg-icon-phone {
	width: 19.697px;
	height: 19.696px;
}

.svg-icon-quotes {
	width: 78.672px;
	height: 63.789px;
}

.svg-icon-review-arrow-left {
	width: 21.706px;
	height: 41.719px;
}

.svg-icon-review-arrow-right {
	width: 21.706px;
	height: 41.719px;
}

.svg-icon-timer {
	width: 298px;
	height: 345.097px;
}

.svg-icon-twitter {
	width: 17.5px;
	height: 14.663px;
}

.svg-icon-yes {
	width: 21.698px;
	height: 16.09px;
}

.svg-icon-youtube {
	width: 14.64px;
	height: 13.96px;
}

.svg-logo-android {
	width: 42.084px;
	height: 47.041px;
}

.svg-logo-apple {
	width: 46.21px;
	height: 56.753px;
}

.svg-logo-htmlacademy {
	width: 26.943px;
	height: 34.09px;
}

.svg-logo-microsoft {
	width: 43.922px;
	height: 41.992px;
}

.svg-logo-pink-blue-desktop {
	width: 146.3px;
	height: 40.375px;
}

.svg-logo-pink-blue-mobile {
	width: 146.3px;
	height: 40.375px;
}

.svg-logo-pink-white-desktop {
	width: 146.3px;
	height: 40.375px;
}

.svg-logo-pink-white-mobile {
	width: 74.426px;
	height: 22.859px;
}

.svg-logo-pink-white-tablet {
	width: 146.3px;
	height: 40.375px;
}

