//- Header
include ../_modules/page-header
include ../_modules/logo
include ../_modules/navigation

//- Content
include ../_modules/downloads
include ../_modules/info-title
include ../_modules/advantages
include ../_modules/feature
include ../_modules/reviews
include ../_modules/comment
include ../_modules/tariffs
include ../_modules/contacts
include ../_modules/map
include ../_modules/photos
include ../_modules/photo
include ../_modules/add-photo
include ../_modules/form-group
include ../_modules/checkbox
include ../_modules/radio

//- Footer
include ../_modules/page-footer
include ../_modules/social
include ../_modules/copyright

//- Popup
include ../_modules/popup-fail
include ../_modules/popup-success

//- BEM
include ../_vendor/bemto/bemto


block variables

doctype html

html(lang="ru")

  head
    meta(charset="utf-8")
    title Пинк
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")

  body
    block style

    +page-header

    main.page-content
      block content


    //- Проверяем страницу на isHideMobileFooter, если да - то добавляем модификатор --hide-mobile
    - var classFooter = isHideMobileFooter ? "--hide-mobile" : false
    +page-footer(classFooter)

    //- Добавляем popup-fail всем страницам с isPopupFail
    if isPopupFail
      +popup-fail

    //- Добавляем popup-success всем страницам с isPopupSuccess
    if isPopupSuccess
      +popup-success

    script(src= "js/scripts.js")
    //- Добаляем скрипт карты,ести есть isMap
    if isMap
      script(async defer src="http://maps.google.com/maps/api/js?key=AIzaSyAC349Oh0rR9acZB3s5NyfROUcDBWhxoWs&callback=initMap")
