extends ../_layouts/base

block variables
  - var isHideMobileFooter = true
  - var isIndex = true
  - var selected = "index.html"
  - var isMap = true
block append style
  style(scoped).
    .reviews__input[id="toggle-reviews-1"]:checked ~ .reviews__item--1,
    .reviews__input[id="toggle-reviews-2"]:checked ~ .reviews__item--2,
    .reviews__input[id="toggle-reviews-3"]:checked ~ .reviews__item--3 {
      display: block;
    }
    .reviews__input[id="toggle-reviews-1"]:checked ~ .reviews__toggles .reviews__toggle--1,
    .reviews__input[id="toggle-reviews-2"]:checked ~ .reviews__toggles .reviews__toggle--2,
    .reviews__input[id="toggle-reviews-3"]:checked ~ .reviews__toggles .reviews__toggle--3 {
      box-shadow: 0 0 0 3px #283645;
    }
    .tariffs__input[id="toggle-tariffs-1"]:checked ~ .tariffs__toggles .tariffs__toggle--1,
    .tariffs__input[id="toggle-tariffs-2"]:checked ~ .tariffs__toggles .tariffs__toggle--2,
    .tariffs__input[id="toggle-tariffs-3"]:checked ~ .tariffs__toggles .tariffs__toggle--3 {
      box-shadow: 0 0 0 3px #283645;
    }
    @media only screen and (max-width: 699px) {
      .tariffs__input[id="toggle-tariffs-1"]:checked ~ .tariffs__table {
        transform: translateX(0%);
      }
      .tariffs__input[id="toggle-tariffs-2"]:checked ~ .tariffs__table {
        transform: translateX(-33.33%);
      }
      .tariffs__input[id="toggle-tariffs-3"]:checked ~ .tariffs__table {
        transform: translateX(-66.66%);
      }
    }
block content

  +b.heading--index
    +e.wrap--index
      +e.H2.title--index Взгляните на&nbsp;жизнь иначе!
    +downloads

  .box
    .container
      +info-title

  .box.box--gray
    .container
      +advantages

  .box.box--gray-desktop
    .container
      +feature

  .box
    .container
      +reviews

  .box.box--gray
    +tariffs

  .box.box--triangle
    .container
      +contacts
  +map
