extends ../_layouts/base

block variables
   - var selected = "photo.html"

block append style
  style(scoped).
    .add-photo__input[id="tool-1"]:checked + .add-photo__label .add-photo__scale--1,
    .add-photo__input[id="tool-2"]:checked + .add-photo__label .add-photo__scale--2,
    .add-photo__input[id="tool-3"]:checked + .add-photo__label .add-photo__scale--3 {
      display: block;
    }
    .add-photo__input[id="tool-1"]:checked + .add-photo__label .add-photo__tool-svg,
    .add-photo__input[id="tool-2"]:checked + .add-photo__label .add-photo__tool-svg,
    .add-photo__input[id="tool-3"]:checked + .add-photo__label .add-photo__tool-svg {
      fill: #d22856;
    }

block content

  +b.heading
    +e.wrap
      +e.H2.title Фотографии<br>пользователей

  .box
    .container
      +b.description
        +e.H2.title Взгляните на&nbsp;фотографии, которые выкладывают пользователи! Видите,&nbsp;как&nbsp;не&nbsp;хватает&nbsp;ваших?

    +photos

    .container
      +b.description--small
        +e.H2.title Затмите их&nbsp;всех!<br>Выкладывайте все, что накопилось&nbsp;в телефоне!


  .box.box--gray.box--no-oblique.box--no-desktop
    .container
      form(
        action="/echo",
        method="post"
      )
        +add-photo
